<?xml version="1.0" encoding="utf-8"?><!--suppress AndroidElementNotAllowed -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scott.com.workhard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.App"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="scott.com.workhard.app.ui.init.launch.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/LaunchTheme">

        </activity>
        <activity
            android:name="scott.com.workhard.app.ui.init.InitActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="scott.com.workhard.app.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".app.ui.create_workout.CreateWorkoutActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity
            android:name=".app.ui.do_workout.DoWorkoutActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ui.select_exercise.SelectExerciseActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="scott.com.workhard.app.ui.init.register.RegisterActivity"
            android:parentActivityName=".app.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ui.MainActivity" />
        </activity>


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="95422a709523acac80bba6218e9a52e0143d0694" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>